/* ACCUEIL : PORTRAIT PHOTOGRAPHE */

.photograph-header {
    width: 90%;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 0 25px;
    border-radius: 5px;
}

.photograph-header .photographer-portrait-container{
    display: flex;
    justify-content: flex-end;
    order : 3;
    width: 33%;
}

.photograph-header .photographerProfile {
    width: 33%;
 }

.photograph-header .photographerName {
    font-size: 64px;
    color: #D3573C;
}

.photograph-header .photographerCity {
    font-size: 24px;
    color: #901C1C;
    padding-bottom: 8px;
    padding-top: 12px;
}

.photograph-header .photographerTagline {
    font-size: 18px;
    color: #525252;
}

.infos-contact-button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    transition: .3s;
}

.photographer-portrait-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}





/* PAGE PHOTOGRAPHE : BLOC GALLERIE PHOTOS */

.photographer-galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 0 130px 0;
}

.photographer-galery-item {
    margin: auto;
    min-width: 350px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
}

.imgGalery {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    /* width: 350px;
    height: 300;
    object-fit: cover */
}

.lightbox .imgGalery {
    object-fit: contain;
}


.photographer-galery-media {
    display: block;
    height: 88%;
}


.photographer-galery-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #901C1C;
    font-size: 24px;
}





/* PAGE PHOTOGRAPHE : BLOC SELECT TRI */

.select-container {
    margin: 2% 0% 2% 5%;
    position: relative;
}

.select-container label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 2%;
}

#test-select {
    background: #901C1C;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: white;
    padding: 1%;
    font-size: 18px;
    border: none;
}

.btn-like-photo {
    font-size: 24px;
    color: #901C1C;
    border: none;
    background: none;
}

.btn-like-photo span {
    margin-right: 15px;
}



/* PAGE PHOTOGRAPHE : BLOC LIKES & PRICE */
#likes-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-size: 24px;
    font-weight: 500;
    background: #DB8876;
    border-radius: 5px;
    width: 376px;
    height: 70px;
    bottom: 0;
    right: 100px;
}

.bloc-likes .total-like {
    margin-right: 10px;
}

.title-photo {
    font-weight: 400;
    font-size: 24px;
}






/* PAGE PHOTOGRAPHE : LIGHTBOX */
.lightbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 90%;
    height: 100%;
    background: rgb(255, 255, 255);

    transform: translate(-50%, -50%);
    overflow: hidden;

    visibility: hidden;
    opacity: 0;
    transition: opacity .5s linear;
}


.lightbox-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    left: 0;
    top: 0;
    visibility: hidden;
}

.lightbox {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    transition: all .5s linear;
}

.lightbox li {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
padding: 10px 128px;

    box-sizing: border-box;
}

.lightbox li img {
    height: 91%;
}

.lightbox li h2 {
    font-weight: 400;
    font-size: 24px;
    color: #901C1C;
    margin-top: 12px;
}

.lightbox-close {
    position: absolute;
    top: 37px;
    right: 30px;
    width: 42px;
    height: 42px;
    background: url(/assets/icons/close.svg) center center / 100% 100%;
    border: none;
    cursor: pointer;
}

.lightbox-container .slide {
    position: absolute;
    width: 36px;
    height: 36px;
    cursor: pointer;
    color: #901C1C;
}

.lightbox-container i {
    font-size: 48px;
}

.lightbox-prev {
    top: 50%;
    left: 30px;
}

.lightbox-next {
    top: 50%;
    right: 30px;
}



/* PAGE PHOTOGRAPHE : MODALE FORMULAIRE CONTACT */

#contact-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.4);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 669px;
    height: 90%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px 35px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DB8876;
    overflow: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 { 
    font-size: 36px;
    font-weight: normal;
}

.modal header div {
    margin-bottom: 5px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 18px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    height: 48px;
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

form input:focus, form textarea:focus {
    border: 3px solid black;
}

form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 90px;
    margin-bottom: 15px;
}

#contact-modal-btn {
    width: 170px;
    height: 69px;
    color: #FAFAFA;
    background-color: #901C1C;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}

.error-message {
    display: none;
    color: #960000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 0;
}




/* TEST LIGNE BLANCHE SEPARATION SELECT TRI */
.test-line {
    height: 1px;
    color: white;
}






/* TESTS RESPONSIVE */ 
@media screen and (max-width: 1279px) {

    * {
        font-size: 18px;
    }

    .photographer-galery {
        grid-template-columns: repeat(2, 1fr);
    }

    .photograph-header .photographerName {
        font-size: 42px;
    }

    .infos-contact-button {
        font-weight: 400;
    }

}

@media screen and (max-width: 767px) {

    .photograph-header .photographerName {
        font-size: 30px;
    }

    .photograph-header .photographerCity {
        font-size: 18px;
    }

    .photograph-header .photographerTagline {
        font-size: 14px;
    }

    .infos-contact-button {
        font-size: 12px;
        width: 130px;
        height: 50px;
    }

    .photographer-portrait-container img {
        width: 100px;
        height: 100px;
    }
    

    * {
        font-size: 18px;
    }

    .photographer-galery {
        grid-template-columns: repeat(1, 1fr);
    }

    #likes-price {
        width: 200px;
        right: 50px;
    }

}


/*
@media screen and (max-width: 1600px) {

    .modal {
        height: 600px;
    }

    .modal header h2 {
        font-size: 24px;
    }

    form label {
        font-size: 24px;
    }

}
*/