#contact_modal {
    display: none;
}

/*
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
*/

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* TESTS MODIFS CARD PHOTOGRAPHE PORTRAIT */

.photograph-header {
    width: 90%;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 0 25px;
    border-radius: 5px;
}

.photograph-header .photographer-portrait-container{
    display: flex;
    justify-content: flex-end;
    order : 3;
    width: 33%;
}

.photograph-header .photographerProfile {
    width: 33%;
 }

.photograph-header .photographerName {
    font-size: 64px;
    color: #D3573C;
}

.photograph-header .photographerCity {
    font-size: 24px;
    color: #901C1C;
    padding-bottom: 8px;
    padding-top: 12px;
}

.photograph-header .photographerTagline {
    font-size: 18px;
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    transition: .3s;
}

.photographer-portrait-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}





/* PAGE PHOTOGRAPHE : BLOC GALLERIE PHOTOS */

.photographer-galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 0 130px 0;
}

.photographer-galery-item {
    margin: auto;
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
}

.imgGalery {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    /* width: 350px;
    height: 300;
    object-fit: cover */
}

/*
.photographer-galery-media {
    display: block;
}
*/

.photographer-galery-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #901C1C;
    font-size: 24px;
}





/* PAGE PHOTOGRAPHE : BLOC SELECT TRI */

.select-container {
    margin: 2% 0% 2% 5%;
    position: relative;
}

.select-container label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 2%;
}

#test-select {
    background: #901C1C;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: white;
    padding: 1%;
    font-size: 18px;
    border: none;
}

.btn-like-photo {
    font-size: 24px;
    color: #901C1C;
    border: none;
    background: none;
}

.btn-like-photo span {
    margin-right: 15px;
}



/* PAGE PHOTOGRAPHE : BLOC LIKES & PRICE */
#likes-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-size: 24px;
    font-weight: 500;
    background: #DB8876;
    border-radius: 5px;
    width: 376px;
    height: 70px;
    bottom: 0;
    right: 100px;
}

.bloc-likes .total-like {
    margin-right: 10px;
}






/* PAGE PHOTOGRAPHE : LIGHTBOX */
.lightbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 80%;
    height: 80%;
    background: rgb(255, 255, 255);

    transform: translate(-50%, -50%);
    overflow: hidden;

        /*    visibility: hidden; */
}


.lightbox-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    left: 0;
    top: 0;
    
    /*     visibility: hidden; */
}

.lightbox {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    height: 100%;
    transition: all .5s linear;
}

.lightbox li {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 10px 60px;
}

.lightbox-close {
    position: absolute;
    top: 5%;
    right: 0;
    width: 42px;
    height: 42px;
    background: url(/assets/icons/close.svg) center center / 100% 100%;
    border: none;
    cursor: pointer;
}

.lightbox-container .slide {
    position: absolute;
    width: 36px;
    height: 36px;
    cursor: pointer;
    color: #901C1C;
}

.lightbox-container i {
    font-size: 48px;
}

.lightbox-prev {
    top: 50%;
    left: 0;
}

.lightbox-next {
    top: 50%;
    right: 0;
}





/* TESTS RESPONSIVE */ 
@media screen and (max-width: 1279px) {

    * {
        font-size: 18px;
    }

    .photographer-galery {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 767px) {

    .photograph-header .photographerName {
        font-size: 30px;
    }
    .photograph-header .photographerCity {
        font-size: 18px;
    }
    .photograph-header .photographerTagline {
        font-size: 14px;
    }
    .contact_button {
        font-size: 12px;
        width: 130px;
        height: 50px;
    }
    .photographer-portrait-container img {
        width: 100px;
        height: 100px;
    }
    

    * {
        font-size: 18px;
    }

    .photographer-galery {
        grid-template-columns: repeat(1, 1fr);
    }

    #likes-price {
        width: 200px;
        right: 50px;
    }

}